:root {
  --primary: #2495ff;
  --negro: #000000;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  margin: 0;
  background-color: #000c17;
}

img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 110rem;
  margin: 0 auto;
  width: 95%;
}
